{% extends 'theader.html' %}
{% load static %}

{%block content%}
hi from thome.html'

{%for i in data%}
<table class="table table-hover" style="margin-top:20px;margin-left:30px;width:80%;">
    <thead>
      <tr>
        
        <th scope="col">Subject</th>
        <th scope="col">Value</th>
      
      </tr>
    </thead>
    <tbody>
     
      <tr class="table-dark">
        <td>Name: </td>
        <td>{{i.name|capfirst}}</td>
      </tr>
      <tr class="table-dark">
        <td>Roll </td>
        <td>{{i.roll}}</td>
      </tr>
      <tr class="table-dark">
        <td>CGPA </td>
        <td>{{i.cgpa}}</td>
      </tr>
      <tr class="table-dark">
        <td>Advisor</td>
        <td>{{i.advisor}}</td>
      </tr>
    </br>
     
    </tbody>
  </table>
  {%endfor%}
  

{%endblock %}