
<table class="table table-hover " style="margin-top:20px;min-width:90%;max-height:40px;max-position:bottom;">
    <tbody style="font-size:19px">
      
      <tr class="table-primary " style="height: 500px;width:90%;">
        
        <th scope="row"><span class="badge bg-dark">Light</th>
        
        <td style="font-size:20px;"><span class="badge bg-dark"><i class="fa-solid fa-copyright"></i>Team Flowers</span></td>
        <td><span class="badge bg-dark">Mamun</span></td>
        <td><span class="badge bg-dark">Rafi</span></td>
        <td><span class="badge bg-dark">Rayhan</span></td>

    </tr>
    </tbody>
  </table>
