{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link href ="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  </head>
  <body style ="background-color:grey">
    <main>
        <div style="height:600px;width:100%;background-color:grey">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top:20px;margin-left: 10%;margin-right: 10%;border-radius:6px;border-style:double;border-color:lightblue">
          <div class="container-fluid">
            
            <div class="collapse navbar-collapse" id="navbarColor02" style="margin-left:40%;">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/">home
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/loginmain">Login
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signupts">Signup</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
   
        {% comment %} <marquee  scrollamount= '30' behavior='Alternate'> {% endcomment %}

          <div style="display:flex;">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin-top:30px;margin-left:15%">
          <div class="card-header">Team Flowers</div>
          <div class="card-body">
            <h4 class="card-title">Member:1</h4>
            <p class="card-text">Mamun Mahmud</br>C221046</p>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin-top:30px;margin-left:10%">
          <div class="card-header">Team Flowers</div>
          <div class="card-body">
            <h4 class="card-title">Member:2</h4>
            <p class="card-text">Rayhan Uddain</br>C221050</p>
          </div>
        </div>


        <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin-top:30px;margin-left:10%">
          <div class="card-header">Team Flowers</div>
          <div class="card-body">
            <h4 class="card-title">Member:3</h4>
            <p class="card-text">Md Najmus Sakib Rafi</br>C221060</p>
          </div>
        </div>
      {% comment %} div end for flex {% endcomment %}
      </div>
  
      {% comment %} this div is for grey colour end {% endcomment %}
    </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  </body>
  {% include 'footer.html' %}
</html>