{% extends 'header.html' %}
{% load static %}

{%block content%}
<span class="badge bg-info" style="margin:6px 40% 3px;height:50px;width 100%;padding:auto;font-size:17px">Result  of {{st.name}} (Roll:{{st.roll}})</span>

<table class="table table-hover" style="border:3px solid black;border-radius:10px;margin-top:20px;margin-left:130px;width:80%;">
    <tbody>

        <tr class="table-active">
    
          <td>1st semester CGPA : </td>
        <td>{%if st.cgpa1 != -1.0%}{{st.cgpa1}}{%else%}Not published yet{%endif%}</td> 
        </tr>
        <tr class="table-active">    
            <td>2nd semester CGPA :</td> 
            <td>{%if st.cgpa2 != -1.0%}{{st.cgpa2}}{%else%}Not published yet{%endif%}</td> 
          </tr>
          <tr class="table-active">
         <td>3rd semester CGPA : </td>
        <td>{%if st.cgpa3 != -1.0%}{{st.cgpa3}}{%else%}Not published yet{%endif%}</td> 
            </tr>
            <tr class="table-active">
                <td>4th semester CGPA : </td>
            <td>{%if st.cgpa4 != -1.0%}{{st.cgpa4}}{%else%}Not published yet{%endif%}</td> 
                   </tr>
                   <tr class="table-active">
                    <td>5th semester CGPA : </td>
                <td>{%if st.cgpa5 != -1.0%}{{st.cgpa5}}{%else%}Not published yet{%endif%}</td> 
                       </tr>
                       <tr class="table-active">
                        <td>6th semester CGPA : </td>
                    <td>{%if st.cgpa6 != -1.0%}{{st.cgpa6}}{%else%}Not published yet{%endif%}</td> 
                           </tr>
                           <tr class="table-active">
                            <td>7th semester CGPA : </td>
                        <td>{%if st.cgpa7 != -1.0%}{{st.cgpa7}}{%else%}Not published yet{%endif%}</td> 
                               </tr>
                               <tr class="table-active">
                                <td>8th semester CGPA : </td>
                            <td>{%if st.cgpa8 != -1.0%}{{st.cgpa8}}{%else%}Not published yet{%endif%}</td> 
                                   </tr>
                                   
    </tbody>
</table>

{%endblock %}